* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 18px;
}
.nav {
  color: #444;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links a:hover {
  border-color: #3aafa9;
}
.links a {
  border-bottom: 2px solid transparent;
}

.links {
  display: flex;
  justify-content: center;
}
.links li {
  padding: 10px;
}

.cart-icon {
  margin-left: 10px;
}

.login {
  font-weight: bold;
  color: #fff;
  background-color: #3aafa9;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid transparent;
}

.login:hover {
  color: #3aafa9;
  background-color: transparent;
  border-color: #3aafa9;
}
.cart-icon:hover {
  filter: brightness(150%);
}

.user {
  display: flex;
  margin-bottom: 2px;
}
.nav-item {
  display: block;
  position: relative;
}
nav svg {
  width: 2rem;
  fill: #fff;
}
.amount-container {
  position: absolute;
  top: -0.68rem;
  right: -0.85rem;
  width: 1.62rem;
  height: 1.62rem;
  border-radius: 50%;
  background-color: #3aafa9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.22rem;
}
.nav h1 {
  color: #3aafa9;
  font-family: cursive;
}

@media (min-width: 767px) {
  .nav-container {
    padding: 20px;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .links a:hover {
    border-color: #3aafa9;
  }
  .links a {
    border-bottom: 2px solid transparent;
  }

  .links {
    display: flex;
    justify-content: center;
  }
  .links li {
    padding: 10px;
  }
  .login {
    font-weight: bold;
    color: #fff;
    background-color: #3aafa9;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid transparent;
  }
}

@media only screen and (max-width: 767px) and (min-width: 350px) {
  .links a:focus{
    border:none;
  }
}